/*
*	Button Component
*/

.c-btn
	display inline-block
	vertical-align middle
	font inherit
	text-align center
	margin 0 //normalize element
	cursor pointer
	padding global-spacing-unit-small global-spacing-unit
	border-radius global-radius
	transition global-transition
	
.c-btn--primary
	background-color primary
	color white
	
	&,
	&:hover,
	&:active,
	&:focus
		text-decoration none
		
.c-btn--secondary
	background-color secondary
	color white
	
	&,
	&:hover,
	&:active,
	&:focus
		text-decoration none