// Generic

white 	= #ffffff
black 	= #000000
gray 	= #cccccc
blue	= #0000ff
purple	= #800080

// Palette

primary		= #4C191B
secondary	= #E3DAFF

// Specifics

background-color	= white
background-nav		= black 
background-form	= gray
background-footer	= black
background-main	= white

brand 				= darken(white, 7)

line				= #cecece
hr					= line

// Branded

twitter		= #1da1f2
facebook	= #3b5998
instagram	= #405de6
youtube		= #ff0000