// Global

:root
	font-size 16px //Global font size , most likely a better way of implementing this so it's not as specific
	
//Global baselines
global-baseline			= 6px

global-spacing-tiny		= 1
global-spacing-small	= 2
global-spacing			= 4
global-spacing-large	= 8
global-spacing-huge		= 16

global-spacing-unit				= global-baseline * global-spacing
global-spacing-unit-tiny		= global-baseline * global-spacing-tiny
global-spacing-unit-small		= global-baseline * global-spacing-small
global-spacing-unit-large		= global-baseline * global-spacing-large
global-spacing-unit-huge		= global-baseline * global-spacing-huge